@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap');

$base:     #5CCCE4;
$accent:   #449DD1;
$white: #FFFFFF;
$lgray: #D6DCD9;
$black: #333;
$basefont: Oswald;
$accentfont: Allan;

%model {
    font-family: $basefont;
    font-size: 1.5rem;
    padding: 1.2rem;
    background-color: $white;
    color: $black;
}

@mixin main-base {
    h3 {
        font-family: $accentfont;
        text-align: center;
        margin: 0 0 .3rem;
        color: $black;
    }
    p {
        font-size: 1.2rem;
        padding: 0.25rem 1rem;
        margin: 0;
        color: $black;
    }
}

%links {
    color: $white;
    font-family: $basefont;
    font-size: 1.2rem;
}

@keyframes beat {
    0% {transform: none;}
    25% {transform: scale(2);}
    100% {transform: none;}
}

@keyframes h-turtle {
    0% {opacity: 0;}
    0% {transform: translate(150%,0);}
    20% {opacity: 0.4;} 
    55% {opacity: 1;}
    80% {opacity: 0.5;}
    90% {opacity: 0.3;}
    95% {opacity: 0.2;}
    100% {opacity: 0;}
}

@keyframes horse {
    0% {transform: none; }
    25% {transform: rotateY(180deg); }
    50% {transform: none; }
    75% {transform: rotateY(-180deg); }
    100% {transform: none; }
}

@keyframes turtle {
    25% {transform: rotateZ(200deg); }
    45% {transform: translate(0%,147.5%); }
    60% {transform: rotateZ(0deg); }
    100% {transform: none; } 
}

@keyframes anchor {
    0% { transform: translate(0,0); }
    50% { transform: translate(0,0); } //(0,-2500px)
    75% { transform: translate(0, 2500px);}
    100% { transform: translate(0,0); }
}