@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap');

$base:     #5CCCE4;
$accent:   #449DD1;
$white: #FFFFFF;
$lgray: #D6DCD9;
$black: #000000;
$basefont: Oswald;
$accentfont: Allan;

%model {
    font-family: $basefont;
    font-size: 1.5rem;
    padding: 1.2rem;
    background-color: $white;
}

@mixin main-base {
    h3 {
        font-family: $accentfont;
        text-align: center;
        margin: 0 0 .3rem;
    }
    p {
        font-size: 1.2rem;
        padding: 0.25rem 1rem;
        margin: 0;
    }
}

%links {
    color: $white;
    font-family: $basefont;
    font-size: 1.2rem;
}