@import "setup";

//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Allan:wght@700&display=swap');

//$base:     #5CCCE4;
//$accent:   #449DD1;
//$white: #FFFFFF;
//$lgray: #D6DCD9;
//$black: #000000;
//$basefont: Oswald;
//$accentfont: Allan;
body{
    background-image: url('../css/smallerswimmingfish.gif');
    background-attachment: fixed;
    background-size: 100vw 100vh;
    z-index: 0;
    font-family: $basefont, verdana, arial, sans-serif;
   }

.page-wrapper h3:hover{
    color: $accent;
}

.intro {
    margin: 1.5rem 1.5rem 0;
    
    header {
    text-align: center;
    background-image: url('./sand_top.png');
    background-size: cover;
    
        h1 {
            font-family: $accentfont;
            font-size: 3.4rem;
            margin-bottom: 0rem;
            color: $white;
        }

        h2 {
            font-family: $basefont;
            font-size: 2rem;
            margin-top: 0.5rem;
            color: $black;
        }
    }

    .summary {
        @extend %model;
        margin: 0;
        margin-bottom: 1rem;
        p:nth-child(2) {
            margin-top: 0;
        }
    }

    .preamble {
        @extend %model;
        @include main-base;
    }
}

.main
    .explanation,
    .participation,
    .benefits,
    .requirements {
        margin: 0 1.5rem 0 1.5rem;
        font-family: $basefont;
        font-size: 1.5rem;
        padding: 0 1.2rem 1.2rem;
        background-color: $white;
        @include main-base;

        h3:hover{
            color: $accent;
        }
}

.preamble h3:hover{
    color: $accent;
}

footer {
    background-image: url('./sand.png');
    background-size:     cover;                      
    position: relative;
    top: 46rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    a {
        @extend %links;
        font-weight: 700;
        padding: .5rem;
    }
    a:hover {
        color: $accent;
        animation: beat 3s;
    }

    @keyframes beat {
        0% {transform: none;}
        25% {transform: scale(2);}
        100% {transform: none;}
    }
}

.sidebar {
    margin: 0 2rem;
    color: $white;
    .wrapper div {
        border-bottom: 2px $white solid;
        ul {
            margin-top: 0;
        }
        h3 {
            font-family: $accentfont;
            font-size: 1.5rem;
            margin: 1rem 0 .5rem;
        }
        li {
            list-style: none;
            a {
                @extend %links;
            }
            a:hover {
                color: $accent;
                background-color: $black;
            }
        }
    }
}

@media only screen and (min-width: 50rem ) {
    
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        
    }
    
    header {
        grid-column: span 3;
        padding: 1rem .5rem;
        margin-bottom: 1rem;
        h1, h2 {
            margin: 0;
            
        }
        
    }

    .summary{
        background-color: rgba(77,62,82,0.8);
        color: $accent;

    }

    .preamble {
        margin-left: 1rem;
    }
    .preamble, .main {
        grid-column: 2 / 4;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .explanation,
        .participation,
        .benefits,
        .requirements {
            grid-column: 2 / 4;
        }
        footer {
            grid-column: 1 / 4;
            margin: 0 3rem;
        }
    }

    .sidebar .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        margin: 0 2.5rem;
        .design-selection {
            grid-column: 1 / 3;
            grid-row: 1 / 4;
        }
        .design-archives {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            border-bottom: 0;
        }
        .zen-resources {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
            h3 {
                margin-top: 0;
            }
        }
    }

    .page-wrapper::before{
        position: absolute;
        left: -5rem;
        top: 320rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        content: url('./seahorse.svg');
        zoom: 14%; //15%
        z-index: -1;
        animation: horse 24s infinite;
    }

    .page-wrapper .intro::before{
        position: absolute;
        left: -5rem;
        top: 570rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        content: url('./seahorse.svg');
        zoom: 14%; //15%
        z-index: -1;
        animation: horse 24s infinite;
    }

    .page-wrapper .intro::after{
        position: absolute;
        left: -5rem;
        top: 820rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        content: url('./seahorse.svg');
        zoom: 14%; //15%
        z-index: -1;
        animation: horse 24s infinite;
    }

    @keyframes horse {
        0% {transform: none; }
        25% {transform: rotateY(180deg); }
        50% {transform: none; }
        75% {transform: rotateY(-180deg); }
        100% {transform: none; }
    }
}

@media only screen and (min-width: 64rem) {
    .page-wrapper {
        display: grid;
        
        grid-template-columns: repeat(8, 1fr);
        .intro {
            grid-column: 1 / 7;
            header {
                margin: .5rem 3rem;
                padding: 2rem;
                background-color: rgba(92, 204, 228, 0.9);
                
            }

            .preamble, .summary {
                margin-top: 1rem;
                
            }
            .summary{
                background-color: rgba(77,62,82,0.8);
                color: $accent;

            }
            

            
        }
 
        .main {
            grid-column: 1 / 7;
            
            footer {
                top: 2rem;
                justify-content: space-around;
                left: 15%;
            }
        }

        .sidebar {
            grid-column: 7 / 9;
            margin: 0;
            .wrapper {
                display: flex;
                flex-direction: column;
                margin: 0;
                .design-archives {
                    border-bottom: 2px $white solid;
                }
                .zen-resources h3 {
                    margin-top: 1rem;
                }
            }
        }

        @keyframes turtle {
            25% {transform: rotateZ(200deg); }
            45% {transform: translate(0%,147.5%); }
            60% {transform: rotateZ(0deg); }
            100% {transform: none; } 
        }

        .sidebar .wrapper::before{
            position: absolute;
            top: 310rem;
            grid-column: 7/9;
            content: url('./sea_turtle.svg');
            zoom: 26%;
            z-index: -1;
            animation: turtle 12s infinite;
        }

        .sidebar .wrapper::after{
            position: absolute;
            top: 430rem;
            grid-column: 7/9;
            content: url('./sea_turtle.svg');
            zoom: 26%;
            z-index: -1;
            animation: turtle 12s infinite;
        }

        
        
    }
    .page-wrapper {
        text-align: center;
        
    }
    .page-wrapper::after{
        grid-column: 7 / 9;
        grid-row: 1;
        content: url('anchor.svg');
        zoom: 16%; //15%
        z-index: -1;
        height: 10px;
        animation: anchor 8s linear infinite;
        animation-timing-function: cubic-bezier(0,.9,.5,1.5);
    }
    @keyframes anchor {
        0% { transform: translate(0,0); }
        50% { transform: translate(0,0); } //(0,-2500px)
        75% { transform: translate(0, 2500px);}
        100% { transform: translate(0,0); }
    }
}